html {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #d7dee4;
}

p, h2, li, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    min-width: 320px;
    background-color: white;
    margin: 0 auto;
}

.main {
    text-align: center;
}

.list {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.section {
    padding: 0 3.8rem;
}

.desc {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    padding-top: 2.2rem;
    padding-bottom: 2rem;
}

.header {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.header__item {
    padding: 2rem 0;
    color: #82868f;
    font-size: 1.4rem;
}

.header__top {
    padding: 0.8rem 0 0.5rem 1rem;
}

.header__image {
    height: 3.5rem;
}

.header__button {
    float: right;
    border: none;
    border-radius: 1.5rem;
    text-transform: uppercase;
    color: white;
    background-color: #0ebfdd;
    font-size: 1.4rem;
    height: 3.5rem;
    width: 9.8rem;
}

.header__item:not(:last-child),
.header__top {
    border-bottom: 1px solid #dbe0e3;
    box-sizing: border-box;
}

.our-mission {
    background: url("../images/background1.png");
    background-size: cover;
    color: white;
}

.our-mission__header {
    padding: 3rem 2rem 2rem;
    line-height: 5.2rem;
}

.our-mission__desc {
    padding-bottom: 8rem;
}

.about__header {
    color: #0ebfdd;
}

.about__desc {
    padding-bottom: 4rem;
}

.team {
    background-color: #0ebfdd;
    color: white;
}

.gallery__employee {
    padding-top: 2rem;
}

.gallery__name,
.gallery__post {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.gallery__name {
    font-weight: bold;
}

.gallery__post {
    font-style: italic;
    font-size: 1.6rem;
}

.team__photo {
    height: 15rem;
}

.team__text {
    text-transform: uppercase;
    font-weight: bold;
    padding: 6rem 0 2rem;
    font-size: 1.3rem;
}

.newsletter {
    background-color: #f9f5ed;
}

.newsletter__header {
    color: #0ebfdd;
}

.form__input {
    border-radius: 0.8em;
    border: 1px solid #92969e;
    background: url("../images/icon.png") no-repeat 18.7rem, center, 2.1rem 1.4rem, white;
    color: #d3d3d3;
    font-size: 1.4rem;
    height: 3.8rem;
    width: 22rem;
    padding: 0 4rem 0 1.2rem;
    margin: 2rem auto 1.8rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form__input::-webkit-input-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input::-moz-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input:-ms-input-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input::-ms-input-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input::placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.footer {
    background-color: #45494d;
}

.footer__container {
    width: 90%;
    margin: 0 auto;
    padding: 1.3rem 0 0 0;
}

.footer__item {
    font-size: 2rem;
    padding: 2.1rem 0;
    color: #d7dee4;
}

.footer__line {
    padding: 0.8rem;
    color: #73767a;
}

.footer__text {
    border-top: 0.1rem solid #73767a;
    text-align: center;
    font-size: 2rem;
    padding: 1.6rem 0;
}

.social {
    padding: 1.5rem 0 3rem;
}

.social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 24rem;
    margin: 0 auto;
}

.social__icon--outline {
    display: block;
    width: 7rem;
    height: 7rem;
    line-height: 8rem;
    border: 1px solid #d7dee4;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.icon {
    font-size: 2.8rem;
}

@media screen and (min-width: 480px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery__employee {
        margin: 0 1.8rem;
    }

    .section {
        padding: 0 5rem;
    }

    .our-mission__header {
        padding-top: 13rem;
    }
}

@media screen and (min-width: 600px) {

    .header__top {
        width: 100%;
        padding-left: 0;
        padding-right: 1rem;
        position: absolute;
        box-sizing: border-box;
    }

    .header__item:not(:last-child),
    .header__top {
        border: none;
    }

    .header__list {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        margin-right: 12.4rem;
    }

    .header__item {
        padding: 1.6rem 1.3rem 2rem;
    }

    .header__image {
        height: 2.9rem;
    }

    .section {
        padding: 0 8rem;
    }

   .our-mission__header {
        padding-top: 15.4rem;
    }

    .footer__list {
        display: flex;
        float: left;
    }

    .footer__container {
        padding: 0;
    }

    .footer__item {
        font-size: 1.21rem;
        padding: 3.2rem 1.2rem;
    }

    .social {
        padding: 0;
    }

    .social__list {
        padding-top: 1.4em;
        width: 16.8rem;
        float: right;
        margin: 0;
    }

    .social__icon--outline {
        height: 4.8rem;
        width: 4.8rem;
        line-height: 5.8rem;
    }

    .icon {
        font-size: 2rem;
    }

    .social:after {
        content: "";
        display: block;
        clear: both;
    }

    .footer__text {
        display: flex;
        font-size: 1.2rem;
        justify-content: flex-end;
    }

    .footer__line {
        padding: 0 0 0 1rem;
    }

    .footer__line:not(:last-child) {
        border-right: 0.1rem solid #73767a;
        padding: 0 1rem;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .our-mission__header {
        padding-top: 8rem;
    }
}

@media screen and (min-width: 800px) {
    .section {
        padding: 0 10rem;
    }
}

@media screen and (min-width: 900px) {
    .section {
        padding: 0 11rem;
    }
}

@media screen and (min-width: 1024px) {
    .our-mission__header {
        padding-top: 30rem;
    }

    .section {
        padding: 0 12rem;
    }

    .about__header {
        padding-top: 6.2rem;
    }

    .about__desc {
        padding-bottom: 8.2rem;
    }

    .team__header {
        padding-top: 6.2rem;
        padding-bottom: 8rem;
    }

    .gallery__employee {
        margin: 0 5.5rem;
    }

    .team__text {
        padding: 10rem 0 6rem;
    }

    .newsletter__header {
        padding-top: 6.4rem;
    }

    .footer__list {
        display: flex;
        float: left;
        justify-content: space-between;
        width: 30rem;
    }

    .form__input {
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 1366px) {
    .header {
        width: 69%;
    }

    .section {
        padding: 0 29.6rem;
    }

    .gallery__employee {
        margin: 0 5.1rem;
    }

    .footer__container {
        width: 69%;
    }

}



