html {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #d7dee4;
}

p, h2, li, ul {
    margin: 0;
    padding: 0;
}

 a {
    text-decoration: none;
 }

.wrapper {
    max-width: 1440px;
    min-width: 320px;
    width: 1366px;
    background-color: white;
    margin: 0 auto;
}

.list {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.section {
    padding: 0 3.8rem;
    text-align: center;
}

.desc {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    margin-bottom: 1.9rem;
}

.page-header {
    width: 100%;
}

.page-header__container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.page-header__logo-line {
    padding: 0.8rem 0 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
}

.page-header__image {
    height: 3.5rem;
    display: block;
}

.page-header__link {
    color: #82868f;
    padding: 2rem 0;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
}

.page-header__button {
    border: none;
    border-radius: 1.5rem;
    text-transform: uppercase;
    color: white;
    background-color: #0ebfdd;
    font-size: 1.4rem;
    height: 3.5rem;
    width: 9.8rem;
    cursor: pointer;
    outline: 0;
}

.page-header__item:not(:last-child),
.page-header__logo-line {
    border-bottom: 1px solid #dbe0e3;
    box-sizing: border-box;
}

.our-mission {
    background: url("../images/background1.png");
    background-size: cover;
    color: white;
    padding-top: 3.1rem;
    padding-bottom: 8rem;
}

.our-mission__header {
    padding: 0 2rem;
    line-height: 5.2rem;
}

.about {
    padding-top: 2.2rem;
    padding-bottom: 4rem;
}

.about__header {
    color: #0ebfdd;
}

.team {
    background-color: #0ebfdd;
    color: white;
    padding-top: 2.2rem;
    padding-bottom: 2rem;
}

.team__header {
    margin-bottom: 4rem;
}

.team__photo {
    height: 15rem;
}

.team__text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.gallery__employee {
    margin-bottom: 2rem;
}

.gallery {
    margin-bottom: 6rem;
}

.gallery__name,
.gallery__post {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.gallery__name {
    font-weight: bold;
}

.gallery__post {
    font-style: italic;
    font-size: 1.6rem;
}

.newsletter {
    background-color: #f9f5ed;
    padding-top: 2.3rem;
    padding-bottom: 2rem;
}

.newsletter__desc {
    margin-bottom: 2rem;
}

.newsletter__header {
    color: #0ebfdd;
}

.form__input {
    border-radius: 0.8em;
    border: 1px solid #92969e;
    background: url("../images/icon.png") no-repeat 18.7rem, center, 2.1rem 1.4rem, white;
    color: #d3d3d3;
    font-size: 1.4rem;
    height: 3.8rem;
    width: 22rem;
    padding: 0 4rem 0 1.2rem;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

.form__input::-webkit-input-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input::-moz-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input:-ms-input-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input::-ms-input-placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.form__input::placeholder {
    color: #d3d3d3;
    font-style: italic;
    font-weight: 600;
}

.footer {
    background-color: #45494d;
}

.footer__container {
    width: 90%;
    margin: 0 auto;
    padding: 3.4rem 0 1.3rem;
}

.footer__line {
    color: #73767a;
    margin-bottom: 1.5rem;
}

.footer__item {
    margin-bottom: 4.2rem;
    font-size: 2rem;
    color: #d7dee4;
}

.footer__link {
    display: inline-block;
    cursor: pointer;
}

.footer__text {
    border-top: 0.1rem solid #73767a;
    text-align: center;
    font-size: 2rem;
    padding-top: 2.3rem;
}

.social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 24rem;
    margin: 0 auto 2.6rem;
}

.social__icon--outline {
    position: relative;
    display: block;
    width: 6.8rem;
    height: 6.8rem;
    border: 1px solid #d7dee4;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer__link--icon {
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@media screen and (min-width: 480px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gallery {
        margin-bottom: 4.2rem;
    }

    .section {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .gallery__employee {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .our-mission {
        padding-top: 13rem;
    }
}

@media screen and (min-width: 600px) {

    .page-header {
        position: sticky;
        background-color: white;
    }

    .page-header__logo-line {
        width: 100%;
        padding-left: 0;
        padding-right: 1rem;
        position: absolute;
        box-sizing: border-box;
    }

    .page-header__item:not(:last-child),
    .page-header__logo-line {
        border: none;
    }

    .page-header__list {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        margin-right: 11rem;
        margin-left: 13rem;
        z-index: 1;
        position: relative;
    }

    .page-header__button {
        height: 3.8rem;
    }

    .page-header__link {
        margin-right: 2.6rem;
        width: auto;
    }

    .page-header__image {
        height: 2.8rem;
        margin-top: 0.5rem;
    }

    .section {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .team {
        padding-left: 9.6rem;
        padding-right: 9.6rem;
    }

    .gallery__employee {
        margin-left: 2rem;
        margin-right: 2rem;
    }

   .our-mission {
       padding-top: 15.6rem;
    }

   .footer__container {
       padding-top: 1.4rem;
   }

   .footer__links-section {
       display: flex;
       justify-content: space-between;
       padding-left: 1.2rem;
       margin-bottom: 1rem;
   }

    .footer__list {
        display: flex;
        padding: 1.6rem 0;
    }

    .footer__item {
        font-size: 1.21rem;
        margin: 0 2.4rem 0 0;
    }

    .social__list {
        width: 16.8rem;
        margin: 0;
    }

    .social__icon--outline {
        height: 4.7rem;
        width: 4.7rem;
    }

    .footer__link--icon {
        font-size: 1.8rem;
    }

    .footer__text {
        display: flex;
        justify-content: flex-end;
        font-size: 1.2rem;
        padding: 1.9rem 0 0;
    }

    .footer__line:not(:last-child) {
        border-right: 0.1rem solid #73767a;
        padding: 0 1.3rem;
        box-sizing: border-box;
        margin: 0;
    }

    .footer__line:last-child {
        padding-left: 1.3rem;
        margin: 0;
    }
}


@media screen and (min-width: 768px) {
    .our-mission {
        padding-top: 8rem;
    }

    .gallery__employee {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 800px) {
    .section {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media screen and (min-width: 900px) {
    .section {
        padding-left: 11rem;
        padding-right: 11rem;
}

    .gallery {
        justify-content: center;
    }

    .gallery__employee:not(:last-child) {
        margin: 0 4.4rem 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .our-mission {
        padding-top: 30.2rem;
    }

    .about {
        padding-top: 6.3rem;
        padding-bottom: 8.2rem;
    }

    .team {
        padding-top: 6.2rem;
        padding-bottom: 6rem;
    }

    .team__header {
        margin-bottom: 10rem;
    }

    .gallery {
        margin-bottom: 8rem;
    }

    .gallery__employee:not(:last-child) {
        margin: 0 12rem 0 0;
    }

    .newsletter {
        padding-top: 6.4rem;
        padding-bottom: 6rem;
    }

    .footer__list {
        display: flex;
        float: left;
        justify-content: space-between;
        width: 30rem;
    }
}

@media screen and (min-width: 1366px) {
    .page-header__container {
        width: 69%;
    }

    .section {
        padding-left: 29.6rem;
        padding-right: 29.6rem;
    }

    .footer__container {
        width: 69%;
    }

}



